<div class="container">
    <mat-card>
        <h1 style="justify-content: center;display: flex;">Üdvözöllek a főoldalon!</h1>


        <h1> Ismertető:</h1>
        <h2> Az oldalon lehetőséged van tesztelni a memóriádat pár feladat megoldásával.
            Regisztráció nélkül kiprobálhatod a játékot, mindössze annyi a dolgod, hogy a játék menüpontban kiválasztod
            az általad kipróbálni kívánt játékot.
        </h2>
        <h2> Amennyiben regisztrálsz és bejelentkezel, a rendszer elmenti a játék eredményeidet és
            abból készít egy statisztikát, valamint egy diagrammot a teljesítményedről.
        </h2>
        <h1> A Játékról:</h1>
        <h2> Összefogaló:</h2>
        <h3> A játékok során a vizuális felidézés kognitív képességedet tudod tornáztatni,
            mégpedig azzal, hogy megjelenik a játékmezőn egy csillagkép, amit 3mp-ig,
            utána eltűnik majd a sok megjelenő csillagpontot összekötve ismét rajzold ki a látott csillagképet.
            A játék végén részletes leírást kapsz minden képről, mennyire
            egyezett a megoldásoddal.
        </h3>
        <h2> Irányítás:</h2>
        <h3> Vonalat rajzolni csillagra kattintással tudsz, törölni szintén, vagy duplaklikkelni a vonalra</h3>

    </mat-card>
</div>